@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
  word-wrap: break-word; }

*:not(input, textarea) {
  -webkit-touch-callout: inherit;
  -webkit-user-select: auto; }

body {
  width: 100%;
  font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
  font-size: 14px;
  -webkit-touch-callout: inherit;
  -webkit-user-select: auto;
  background-color: #fff;
  word-wrap: break-word; }

html {
  font-size: 625%; }

body {
  font-size: 14px; }

a {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none; }

button {
  cursor: pointer; }

img {
  border: none; }

a:hover {
  text-decoration: none; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  padding: 0;
  outline: none; }

dt, dd {
  display: inline-block; }

textarea, input, button {
  resize: none;
  outline: none; }

textarea {
  resize: none;
  -webkit-appearance: none; }

ul, ol, li {
  list-style: none; }

em {
  font-style: normal; }

ul {
  list-style: none; }

img {
  border: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.padding-0px {
  padding: 0; }

.flex-row {
  /*display: box;              !* OLD - Android 4.4- *!*/
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  /* 09版 */
  -webkit-box-orient: horizontal;
  /* 12版 */
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /* 09版 */
  -webkit-box-pack: center;
  /* 12版 */
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center; }

.flex-column {
  /*display: box;              !* OLD - Android 4.4- *!*/
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  /* 09版 */
  -webkit-box-orient: horizontal;
  /* 12版 */
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  /* 09版 */
  -webkit-box-pack: center;
  /* 12版 */
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center; }

.align-items-start {
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start; }

.flex-data {
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */ }

.content:after, .comafter:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both; }

.fadein {
  animation: fadein 1s;
  -moz-animation: fadein 1s;
  /* Firefox */
  -webkit-animation: fadein 1s;
  /* Safari 和 Chrome */
  -o-animation: fadein 1s;
  /* Opera */ }

@keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadein /* Firefox */ {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadein /* Safari 和 Chrome */ {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadein /* Opera */ {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/*清除浮动*/
.clearfix:after {
  content: '.';
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both;
  display: block; }

/*fixed居中*/
.positionFixedCenter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.positionRelativeCenter {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.positionAbCenter, .prize-resort-bord .ranking-numb {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

/*flex居中*/
.flexCenter, .prize-less-number-btn, .prize-start-step, .prize-resort-bord .ranking-list-msg, .prize-resort-bord .ranking-get-discount, .prize-show-all, .price-resort-step, .prize-check-more {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center; }

.displayFlex, .extract-prize-nav .header-three-nav, .prize-list-wrap, .prize-get-finished, .prize-step, .prize-now-get-step, .prize-siblings-step, .prize-data-content-wrap, .prize-data-content, .prize-resort-bord .ranking-list, .prize-resort-step-list, .prize-shop-shop-list-warp, .prize-store-shop-price {
  display: flex;
  display: -webkit-flex; }

.prize-body {
  background: #ed7c94; }

.extract-prize-nav {
  width: 100%; }
  .extract-prize-nav .header-three-nav {
    justify-content: space-between;
    width: 100%;
    height: .44rem;
    align-items: center; }
    .extract-prize-nav .header-three-nav .newk-back-home {
      width: 14px;
      margin-right: .05rem;
      position: relative;
      top: .02rem; }
  .extract-prize-nav .header-three-left, .extract-prize-nav .header-three-center, .extract-prize-nav .header-three-right {
    padding: 0 .1rem; }
  .extract-prize-nav .header-three-shop-logo {
    height: 60%; }

.prize-list-wrap-wrap {
  width: 100%;
  overflow: auto;
  background: #edbbba;
  position: relative; }

.prize-list-wrap {
  max-width: 500%;
  height: 1.04rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.prize-list {
  position: relative;
  z-index: 2;
  width: .96rem;
  height: .96rem;
  overflow: hidden;
  padding: 0.04rem;
  float: left;
  flex-shrink: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.prize-pic {
  width: 100%; }

.prize-discount-msg {
  position: absolute;
  top: .02rem;
  left: .08rem;
  color: #ff0000;
  font-size: 12px;
  z-index: 1030; }

.prize-get-finished {
  position: absolute;
  top: .02rem;
  left: .04rem;
  width: .96rem;
  height: .2rem;
  font-size: 12px;
  background: #c8c8c8;
  text-align: center;
  color: #fff;
  justify-content: center; }

.prize-kong {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: .1rem;
  background: #efa8a7;
  left: 0;
  z-index: 1; }

.prize-step {
  justify-content: center;
  align-items: center; }

.prize-now-step-wrap {
  border-left: .03rem solid #f2ab96;
  border-right: .03rem solid #f2ab96;
  padding-bottom: .06rem;
  display: inline-block; }

.prize-now-get-step {
  display: inline-block;
  padding: .08rem .05rem;
  background: #5a56ff;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 11px; }

.prize-siblings-step {
  justify-content: space-between;
  padding: 0 0.2rem;
  color: #fff; }
  .prize-siblings-step .double-right-assass {
    display: inline-block;
    width: .1rem; }
  .prize-siblings-step .double-left-assass {
    display: inline-block;
    width: .1rem;
    margin-right: .07rem; }
  .prize-siblings-step .assass-public-out, .prize-siblings-step .assass-public-in {
    width: 7px;
    height: 7px;
    display: inline-block;
    /*border:1px solid #576894;*/
    position: absolute;
    border-left: 1px solid transparent;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top: 1px solid transparent;
    transform: rotate(45deg) !important; }
  .prize-siblings-step .assass-public {
    position: relative; }
  .prize-siblings-step .assass-public-out-up, .prize-siblings-step .assass-public-in-up {
    transform: rotate(-45deg) !important;
    top: -9px; }
  .prize-siblings-step .assass-public-in-up {
    left: 5px; }
  .prize-siblings-step .double-left-assass .assass-public-out-up, .prize-siblings-step .double-left-assass .assass-public-in-up {
    transform: rotate(135deg) !important; }

.prize-less-number-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  color: #fff;
  background: linear-gradient(to bottom, #8481f8, #5b57ff);
  display: inline-block;
  padding: .1rem .15rem;
  border-radius: 25px; }

.prize-less-number {
  color: #f48383; }

.prize-start-step {
  padding-top: .44rem;
  color: #060606;
  font-size: 12px; }

.prize-active-data {
  width: 100%; }

.prize-data-content {
  position: relative; }

.prize-active-content {
  font-size: 0; }

.prize-team-number {
  display: inline-block;
  padding: .03rem .08rem;
  background: #f1a958;
  color: #fff;
  font-size: 11px;
  border-radius: 25px;
  box-shadow: 0 .05rem .05rem .01rem #eed1b1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap; }

.prize-team-number-text {
  color: #e45976;
  font-size: 16px; }

.prize-join-number {
  background: #eb807e;
  box-shadow: 0 .05rem .05rem .01rem #f1c2be; }

.prize-browser-number {
  background: #7bcee1;
  box-shadow: 0 .05rem .05rem .01rem #c5e6f0; }

.prize-data-content-wrap {
  margin: 0 3.2%;
  padding: 0 2%;
  background: #fff;
  height: 1.22rem;
  align-items: center; }

.prize-data-content {
  flex: 1;
  height: .65rem;
  border-radius: .1rem;
  box-shadow: 0 0 .1rem .05rem #f3cad2;
  background: #fff;
  margin: 0 .08rem;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center; }

.prize-rule {
  font-size: 12px;
  color: #ed7c94; }

.prize-rule p {
  text-indent: -2em;
  padding-left: -2em; }

.prize-resort-bord {
  padding-top: 0.2rem;
  background: rgba(255, 249, 248, 0.7);
  margin: 0 3.2%;
  color: #ed7c94;
  font-size: 12px;
  /*清除浮动*/
  /*fixed居中*/
  /*flex居中*/ }
  .prize-resort-bord * {
    margin: 0;
    padding: 0;
    outline: none;
    word-wrap: break-word; }
  .prize-resort-bord *:not(input, textarea) {
    -webkit-touch-callout: inherit;
    -webkit-user-select: auto; }
  .prize-resort-bord body {
    width: 100%;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    font-size: 14px;
    -webkit-touch-callout: inherit;
    -webkit-user-select: auto;
    background-color: #fff;
    word-wrap: break-word; }
  .prize-resort-bord html {
    font-size: 625%; }
  .prize-resort-bord body {
    font-size: 14px; }
  .prize-resort-bord a {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none; }
  .prize-resort-bord button {
    cursor: pointer; }
  .prize-resort-bord img {
    border: none; }
  .prize-resort-bord a:hover {
    text-decoration: none; }
  .prize-resort-bord button, .prize-resort-bord input, .prize-resort-bord select, .prize-resort-bord textarea {
    font-size: 100%;
    margin: 0;
    padding: 0;
    outline: none; }
  .prize-resort-bord dt, .prize-resort-bord dd {
    display: inline-block; }
  .prize-resort-bord textarea, .prize-resort-bord input, .prize-resort-bord button {
    resize: none;
    outline: none; }
  .prize-resort-bord textarea {
    resize: none;
    -webkit-appearance: none; }
  .prize-resort-bord ul, .prize-resort-bord ol, .prize-resort-bord li {
    list-style: none; }
  .prize-resort-bord em {
    font-style: normal; }
  .prize-resort-bord ul {
    list-style: none; }
  .prize-resort-bord img {
    border: none; }
  .prize-resort-bord .fl {
    float: left; }
  .prize-resort-bord .fr {
    float: right; }
  .prize-resort-bord .padding-0px {
    padding: 0; }
  .prize-resort-bord .flex-row {
    /*display: box;              !* OLD - Android 4.4- *!*/
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /* 09版 */
    -webkit-box-orient: horizontal;
    /* 12版 */
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    /* 09版 */
    -webkit-box-pack: center;
    /* 12版 */
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center; }
  .prize-resort-bord .flex-column {
    /*display: box;              !* OLD - Android 4.4- *!*/
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /* 09版 */
    -webkit-box-orient: horizontal;
    /* 12版 */
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    /* 09版 */
    -webkit-box-pack: center;
    /* 12版 */
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center; }
  .prize-resort-bord .align-items-start {
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start; }
  .prize-resort-bord .flex-data {
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */ }
  .prize-resort-bord .content:after, .prize-resort-bord .comafter:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both; }
  .prize-resort-bord .fadein {
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    /* Firefox */
    -webkit-animation: fadein 1s;
    /* Safari 和 Chrome */
    -o-animation: fadein 1s;
    /* Opera */ }
@keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadein /* Firefox */ {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadein /* Safari 和 Chrome */ {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadein /* Opera */ {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .prize-resort-bord .clearfix:after {
    content: '.';
    height: 0;
    overflow: hidden;
    visibility: hidden;
    clear: both;
    display: block; }
  .prize-resort-bord .positionFixedCenter {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
  .prize-resort-bord .positionRelativeCenter {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .prize-resort-bord .positionAbCenter, .prize-resort-bord .ranking-numb {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
  .prize-resort-bord .flexCenter, .prize-resort-bord .prize-less-number-btn, .prize-resort-bord .prize-start-step, .prize-resort-bord .ranking-list-msg, .prize-resort-bord .ranking-get-discount, .prize-resort-bord .prize-show-all, .prize-resort-bord .price-resort-step, .prize-resort-bord .prize-check-more {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center; }
  .prize-resort-bord .displayFlex, .prize-resort-bord .extract-prize-nav .header-three-nav, .extract-prize-nav .prize-resort-bord .header-three-nav, .prize-resort-bord .prize-list-wrap, .prize-resort-bord .prize-get-finished, .prize-resort-bord .prize-step, .prize-resort-bord .prize-now-get-step, .prize-resort-bord .prize-siblings-step, .prize-resort-bord .prize-data-content-wrap, .prize-resort-bord .prize-data-content, .prize-resort-bord .ranking-list, .prize-resort-bord .prize-resort-step-list, .prize-resort-bord .prize-shop-shop-list-warp, .prize-resort-bord .prize-store-shop-price {
    display: flex;
    display: -webkit-flex; }
  .prize-resort-bord .ranking-list {
    justify-content: space-between;
    padding: 0 .15rem;
    height: .65rem; }
  .prize-resort-bord .ranking-list-wrap {
    letter-spacing: .015rem; }
  .prize-resort-bord .ranking-cricle-wrap {
    position: relative;
    display: inline-block;
    width: .4rem;
    height: .2rem;
    text-align: center; }
  .prize-resort-bord .ranking-cricle {
    display: inline-block;
    height: .2rem; }
  .prize-resort-bord .ranking-numb {
    color: #ffc892;
    font-size: 12px;
    text-align: center;
    display: table-cell;
    top: .03rem;
    white-space: nowrap; }
  .prize-resort-bord .ranking_user_touxiang {
    width: .6rem;
    height: .6rem;
    margin-left: .05rem;
    border: 1px solid #afafaf;
    box-sizing: border-box;
    border-radius: 50%; }
  .prize-resort-bord .ranking-username {
    color: #333; }
  .prize-resort-bord .ranking-user-photo {
    width: .45rem;
    height: .45rem;
    margin-right: 9px;
    border-radius: 25px; }
  .prize-resort-bord .ranking-userheader {
    margin: 0 .12rem 0 .06rem;
    border: none; }
  .prize-resort-bord .ranking-teamer-img {
    border-color: #fe6c64;
    padding: 2px; }
  .prize-resort-bord .ranking-get-discount {
    font-size: 12px;
    color: #ff8383; }
  .prize-resort-bord .ranking-self {
    color: #7a77ff; }
  .prize-resort-bord .ranking-friends {
    color: #f4cf6f; }
  .prize-resort-bord .ranking-list-wrap {
    background: #fff; }
  .prize-resort-bord .ranking-list {
    height: .5rem; }
  .prize-resort-bord .ranking-get-discount {
    margin-right: .2rem; }

.prize-show-all {
  width: 100%;
  height: .44rem;
  border-top: 1px dashed #ed7c94; }

.prize-resort-step-list {
  color: #fff;
  font-size: 15px; }

.price-resort-step {
  flex: 1;
  height: .36rem;
  border-top-left-radius: .1rem;
  border-top-right-radius: .1rem;
  background: rgba(237, 124, 148, 0.7); }

.price-resort-step.price-active {
  color: #ed7c94;
  background: white; }

.prize-location {
  width: .16rem;
  position: relative;
  top: .05rem;
  margin-right: .05rem; }

.prize-shop-msg-wrap {
  padding-top: .16rem;
  margin: 0 3.2%;
  background: rgba(255, 249, 248, 0.7); }

.prize-shop-msg {
  padding: .2rem .2rem;
  font-size: 13px;
  color: #ed7c94;
  position: relative;
  background: #fff; }

.prize-shop-msg p {
  height: .28rem; }

.prize-location-href {
  color: #ed7c94; }

.prize-shop-shop-list {
  flex: 1;
  margin-bottom: .1rem;
  font-size: 12px;
  color: #f19bad; }

.prize-store-shop-price {
  font-size: 15px;
  color: #ed7c94; }

.prize-shop-now-price {
  font-size: 11px;
  text-decoration: line-through; }

.prize-store-shop-price {
  display: inline-block;
  width: 100%;
  height: .44rem;
  align-items: center; }

.prize-check-more {
  width: 100%;
  height: .25rem;
  color: #f19bad;
  font-size: 12px; }

.margin-bottom10px {
  margin-bottom: 0.1rem; }

/*# sourceMappingURL=extractPirze.css.map */
