@import "base";
@media screen and (max-width:374px){
    html{
        font-size: 533%;
    }
}
.prize-body{
    background: #ed7c94;
    overflow: hidden;
}
.prize-header{
    @import "nav-three";
    .prize-back-home{
        width: .15rem;
        position: relative;
        top: .03rem;
        margin-right: .05rem;
    }
}

.header-three-nav{
    background: #fff;
}
.prize-shop-list-wrap{
    background: #EDBCBA;
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    @extend.displayFlex;
}
.prize-shop-list{
    width: .95rem;
    height: .95rem;
    flex-shrink: 0;
    padding: .04rem;
//  float: left;
    overflow: hidden;
    @extend.flexCenter;
    position: relative;
}
.prize-shop-list-img{
    width: 100%;
}
.prize-discount-msg{
    position: absolute;
    top: .02rem;
    left: .08rem;
    color: #ff0000;
    font-size: .12rem;
    z-index: 1030;
}
.prize-get-finished{
    position: absolute;
    top: .02rem;
    left: .04rem;
    width: .96rem;
    height: .2rem;
    font-size: .12rem;
    background: rgba(200,200,200,.7);
    text-align: center;
    color: #fff;
    @extend.displayFlex;
    justify-content: center;
}
.prize-step{
    @extend.displayFlex;
    justify-content: center;
    align-items: center;
}
.prize-now-step-wrap{
    border-left: .03rem solid #f2ab96;
    border-right: .03rem solid #f2ab96;
    padding-bottom: .06rem;
    display: inline-block;
}
.prize-now-get-step{
    display: inline-block;
    padding: .08rem .05rem;
    background: #5a56ff;
    color: #fff;
    @extend.displayFlex;
    justify-content: center;
    align-items: center;
    font-size: .11rem;
}
.prize-siblings-step{
    @extend.displayFlex;
    justify-content: space-between;
    padding:0 .2rem ;
    color: #fff;
    .double-right-assass{
        display: inline-block;
        width: .1rem;
    }
    .double-left-assass{
        display: inline-block;
        width: .1rem;
        margin-right: .07rem;
    }
    .assass-public-out,.assass-public-in{
        width: .07rem;
        height: .07rem;
        display: inline-block;
        /*border:1px solid #576894;*/
        position: absolute;
        border-left:1px solid transparent;
        border-right:1px solid #fff;
        border-bottom:1px solid #fff;
        border-top:1px solid transparent;
        transform: rotate(45deg)!important;
    }
    .assass-public{
        position: relative;
    }
    .assass-public-out-up,.assass-public-in-up{
        transform: rotate(-45deg)!important;
        top: -.09rem;
    }
    .assass-public-in-up{
        left:.05rem;
    }
    .double-left-assass{
        .assass-public-out-up,.assass-public-in-up{
        transform: rotate(135deg)!important;
        }
    }
}
.prize-less-number-btn{
    position: relative;
    left: 50%;
    transform: translateX( -50% );
    @extend.flexCenter;
    font-size: .15rem;
    color: #fff;
    background: linear-gradient(to bottom,#8481f8,#5b57ff );
    display: inline-block;
    padding: .1rem .15rem;
    border-radius: .25rem;
    margin-top: .15rem;
}
.prize-less-number{
    color: #f48383;
}
.prize-start-step{
    @extend.flexCenter;
    padding-top: .44rem;
    color: #060606;
    font-size: .12rem;
    margin-bottom: .25rem;
}
.prize-active-data{
    width: 100%; 
}
.prize-data-content-wrap{
    @extend.displayFlex;
    margin: 0 3.2%;
    padding: 0 2%;
    background: #fff;
    height: 1.22rem;
    align-items: center;
}
.prize-data-content{
    flex: 1;
    height: .65rem;
    border-radius: .1rem;
    box-shadow: 0 0 .1rem .05rem #f3cad2;
    background: #fff;
    margin: 0 .08rem;
    text-align: center;
    position: relative;
    @extend.displayFlex;
    align-items: center;
    justify-content: center;
}
.prize-team-number{
    display: inline-block;
    padding: .03rem .08rem;
    background: #f1a958;
    color: #fff;
    font-size: .11rem;
    border-radius: .25rem;
    box-shadow: 0 .05rem .05rem .01rem #eed1b1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
}
.prize-team-number-text{
    color: #e45976;
    font-size: .16rem;
}
.prize-join-number{
    background: #eb807e;
    box-shadow: 0 .05rem .05rem .01rem #f1c2be;
}
.prize-browser-number{
    background: #7bcee1;
    box-shadow: 0 .05rem .05rem .01rem #c5e6f0;
}
.prize-rule{
    font-size: .12rem;
    color: #ed7c94;
    background: rgba(255,255,255,.8);
    margin: 0 3.2%;
    padding: 0 .15rem .135rem;
}
.prize-rule p{
    text-indent: -1em;
    padding-left:2em ;
    line-height: .22rem;
}

.right-triangle{
    width: 0;
    height: 0;
    display: inline-block;
    border-top:4px solid #e45976 ;
    border-bottom:4px solid transparent ;
    border-left:4px solid #e45976 ;
    border-right:4px solid transparent ;
    transform: rotate(135deg);
}
.prize-rule-step{
    @extend.displayFlex;
    justify-content: space-around;
    color: #e45976;
    align-items: center;
    font-size: .15rem;
    height: .55rem;
}
.prize-rule-step-wrap{
    background: #fff;
    padding-bottom: .135rem;
}
.prize-active-content{
    font-size: 0;
    
}
.prize-active-rule-img{
    width: 100%;
}
.prize-resort-bord-wrap{
    font-size: 0;
}
.prize-resort-bord{
    padding-top:.2rem ;
    background: rgba(255,249,248,.7);
    margin: 0 3.2%;
    color: #ed7c94;
    font-size: .12rem;
    @import "top";
    .ranking-list-wrap{
        background: #fff;
    }
    .ranking-list{
        height: .6rem;
    }
    .ranking-get-discount{
        margin-right: .2rem;
        white-space: nowrap;
    }
    .ranking-cricle-wrap{
        height: .4rem;
//      line-height: .4rem;
    }
    .ranking-cricle{
        height: .25rem;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .ranking-numb{
        line-height: .37rem;
    }
    .ranking-username{
        width: 1.02rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.prize-show-all{
    width: 100%;
    height: .44rem;
    border-top: .01rem dashed #ed7c94;  
    @extend.flexCenter;      
}
.prize-resort-step-list{
    color: #fff;
    font-size: .15rem;
    @extend.displayFlex;
}
.price-resort-step{
    flex: 1;
    height: .36rem;
    @extend.flexCenter;
    border-top-left-radius: .1rem;
    border-top-right-radius: .1rem;
    background: rgba(237,124,148,.7);
}
.price-resort-step.price-active{
    color: #ed7c94;
    background: rgba(255,255,255,1);
}
.prize-shop-msg-wrap{
    padding-top: .16rem;
    margin: 0 3.2%;
    background: rgba(255,249,248,.7);
}
.prize-shop-msg-wrap-wrap{
    padding-top: .17rem;
    font-size: 0;
}
.prize-location{
    width: .16rem;
    position: relative;
    top: .05rem;
    margin-right: .05rem;
}
.prize-location-href{
    color: #ed7c94;
}
.prize-shop-msg{
    padding: .2rem .2rem;
    font-size: .13rem;
    color: #ed7c94;
    position: relative;
    background: #fff;
}
.prize-shop-msg p{
    height: .3rem;
}
.prize-shop-shop-list-warp{
    @extend.flexCenter;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: .1rem;
    @include border-box();
}
.prize-shop-shop-list{
    flex: 1;
//  margin-bottom: .1rem;
    font-size: .12rem;
    width: 30%;
    max-width: 30%;
    color: #f19bad;
    margin: .15rem .05rem 0 .05rem;
}
.prize-shop-now-price{
    font-size: .11rem;
    text-decoration: line-through;
    margin-right: .05rem;
}
.prize-store-shop-img{
    border: 1px solid #efefef;
}
.prize-store-shop-price{
//  display: inline-block;
    font-size: .15rem;
    color: #ed7c94;
    width: 100%;
    height: .44rem;
    @extend.displayFlex;
    align-items: center;
}
.prize-check-more{
    width: 100%;
    height: .25rem;
    @extend.flexCenter;
    color: #f19bad;
    font-size: .12rem;
    padding-bottom: .1rem;
}
.backgroundfff{
    background: #fff;
}
.prize-comment-active{
    padding: .1rem;
}
.prize-footer{
    @extend.displayFlex;
    justify-content: space-between;
    padding: 0 .15rem;
    height: .57rem;
    align-items: center;
    color: #ed7c94;
    font-size: .13rem;
    background: #e6e6e6;
    box-shadow: 0 .1rem .1rem 0 #c8acaa;
}
.prize-os{
    font-size: .12rem;
    color: #ed7c94;
}

.prize-commond-active-img-wrap{
    margin-bottom: .10rem;
    font-size: 0;
}
.prize-turntable{
    position: relative;
}
.prize-less-time-btn-wrap{
    @extend.displayFlex;
    justify-content: center;
    position: absolute;
    bottom: .2rem;
    left: 0;
    width: 100%;
}

.prize-less-time-btn{
    display: inline-block;
    padding: .06rem .08rem;
    color: #fff;
    border-radius: 25px;
    background-image: linear-gradient(to bottom,#b2b0fd,#6f6ce4);
}
.prize-turntable{
    @import "marquee";
    position: relative;
    .marquee-wrap{
        @extend.displayFlex;
        justify-content: center;
        position: absolute;
        height: .3rem;
        overflow: hidden;
        top: 2.3rem;
    }
    .marquee-item-icon img{
        width: 60%;
        border-radius: 25px;
    }
    .marquee-item{
        background: rgba(0,0,0,.7);
        color: #fff;
    }
}
//-------------弹框
.prize-not-get-prize{
    @import "alert";
}
.prize-check-more-alert{
    @import "alert";
    @import "top";
    .ranking-username{
        color:#ed7c94 ;
    }
    .alert-wrap{
        border-radius: 0;
        max-height: 4.8rem;
    }
    .prize-step-resore{
        position: relative;
        left: -2.01%;
        width: 104.4%;
    }
    .prize-step-resore-wrap{
        position: absolute;
        top: -.7rem;
    }
    .prize-step-resore-title{
        font-size: .17rem;
        position: absolute;
        color: #e45976;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
        margin: auto;
    }
    .ranking-list-wrap{
        margin-top: .2rem;
        overflow: auto;
        max-height: 4.6rem;
    }
}
.prize-my-join-alert{
    @import "alert";
    @import "top";
    .ranking-list-wrap{
        position: relative;
        z-index: 2;
        background: #fff;
        top: -.09rem;
        max-height: 4.6rem;
        overflow: auto;
    }
    .alert-wrap{
        width: 90%;
    }
    .prize-alert-box-shadow{
        width: 100%;
        height: .001rem;
        box-shadow: 0 .1rem .1rem .03rem #ffb7c6 ;
        position: absolute;
        top: -.08rem;
        left: 0;
    }
    .prize-alert-top1{
        height: .21rem;
        width: 106%;
        left: -3%;
        background: #fa7b95;
        border-radius: 25px;
        position: relative;
        @extend.flexCenter;
        z-index: 1;
    }
    .prize-alert-top2{
        @extend.prize-alert-top1;
        height: .19rem;
        background: #e45976;
        top: .02rem;
        left: auto;
    }
    .prize-alert-top3{
        @extend.prize-alert-top1;
        height: .06rem;
        width: 96%;
        background: #d23153;
        left: auto;
    }
    .ranking-list{
        align-items: center;
        height: .5rem;
    }
    .prize-join-step{
        @extend.displayFlex;
        justify-content: space-between;
        padding-left:8% ;
        height: .25rem;
        padding-top: .12rem;
    }
    .price-userheader-wrap{
        position: relative;
    }
    .price-teamer{
        position: absolute;
        top: -.05rem;
        right: -.05rem;
        display: inline-block;
        padding: .01rem .05rem;
        background: #fa7b95;
        border-radius:25px ;
        color:#FFF ;
        font-size: .1rem;
    }
    .alert-title{
        border-bottom: .005rem solid #e1e1e1;
        color: #222;
        font-weight: bold;
    }
    .alert-wrap{
        border-radius: 0;
        max-height: 4.6rem;
//      overflow: auto;
    }
    .ranking-numb,.ranking-username,.prize-get-discount{
        font-size: .12rem;
        color: #666;
        white-space: nowrap ;
    }
}
//-------------弹框end
.com_black {
    width: 100%;
    height: 10rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1040;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1040;
}
.prize-not-get-wrap{
    @extend.displayFlex;
    width: 100%;
    justify-content: center;
}
.prize-not-get-prize{
    width: 100%;
}
.prize-not-get-box{
    display:inline-block;
    width: 60%;
    margin-top: .16rem;
}
.prize-not-prize-alert{
    width: 100%;
}
.prize-not-get-text{
    font-size: .15rem;
    color: #ea6079;
//  line-height: ;
    width: 1.4rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.prize-not-alert-wrap{
    position: relative;
}
.prize-not-prize-userheader{
    border-radius: 25px;
    width: .32rem;
    height: .32rem;
    @extend.positionAbCenter;
}
.prize-get-step{
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: .13rem;
    color: #fff;
}
//我的奖品
.myprize-list-wrap{
    @import "list";
    .list{
        display: block;
        margin-top: .1rem;
        border-bottom: 1px solid #d1d1d1 ;
        .list-check-spell{
            font-size: .12rem;
        }
    }
    .list-left{
        height: 1.3rem;
        width: 1.3rem;
        font-size:.5rem ;
        color: #fff;
        @extend.flexCenter;
        text-align: center;
        flex-wrap: wrap;
        line-height: 1.3rem;
        overflow: hidden;
        .not-get{
            width: 100%;
            height: 100%;
            position: relative;
           /* text-align: center;*/
        }
        .discount-not-get{
            height: 100%;
            width: 100%;
        }
        .sawtooth-wrap{
            width: 100%;
            height: 100%;
            box-sizing: border-box;
//          margin-top: .055rem;
//          margin-left: .11rem;
            padding-left:.03rem;
            background-image: -webkit-gradient(linear,0 50%,100% 0,
                                from(transparent),
                                color-stop(.5,#fbc8af),
                                color-stop(.5,#ff873d),
                                to(#ff873d)
                                ),
                                -webkit-gradient(linear,0 50%,100% 100%,
                                        from(#fbc8af),
                                        color-stop(.5,transparent),
                                        color-stop(.5,#ff873d),
                                        to(#ff873d)
                                );
            background-size:.05rem .1rem;
            background-repeat:repeat-y;
            background-position:0 .05rem;
            box-shadow: -.02rem .02rem .1rem #fbc8af;
        }
        .sawtooth-wrap-red{
            background-image: -webkit-gradient(linear,0 50%,100% 0,
                                from(transparent),
                                color-stop(.5,#f0d0ce),
                                color-stop(.5,#ef977f),
                                to(#ef977f)
                                ),
                                -webkit-gradient(linear,0 50%,100% 100%,
                                        from(#f0d0ce),
                                        color-stop(.5,transparent),
                                        color-stop(.5,#ef977f),
                                        to(#ef977f)
                                );
            background-size:.05rem .1rem;
                                
        }
        .prize-money-code{
            font-size: .1rem;
        }
        .prize-procent{
            font-size: .33rem;
            height: .33rem;
            display: block;
        }
        .prize-pay-money{
            font-size: .1rem;
            height: .1rem;
            display: block;
        }
        .sawtooth{
            width: 100%;
            height: 100%;
            background-image:  -webkit-linear-gradient(to right,#ff873d,#faad34);
            background-image: linear-gradient(to right,#ff873d,#faad34);
        }
        .sawtooth-red{
            background-image:  -webkit-linear-gradient(to right,#e95953,#ef977f);
            background-image: linear-gradient(to right,#e95953,#ef977f);
        }
    }
    .bgd8d8d8{
        background: #d8d8d8;
    }
    .list-left img{
        max-width: 100%;
    }
    .list-right{
        padding-top: .05rem;
    }
    .list-span{
        display: inline-block;
        line-height: .25rem;
        color: #666666;
        font-size: .13rem;
    }
    .list-check-spell{
        border-width: .005rem;
        padding: .05rem .1rem; 
        white-space: nowrap; 
    }
    .list-span-color{
        color: #ed7c94;
        border-color: #ed7c94;
    }
    .prize-icon-send{
        width: .27rem;
        height: .27rem;
        position: absolute;
        top: 0;
        left: 5%;
    }
    .list-content{
        position: relative;
    }
    .icon-yellow-flag-wrap{
        display: inline-block;
        @extend.prize-icon-send;
    }
    .icon-yellow-flag{
        width: 100%;
        height: 100%;
    }
    .prize-discount-price-btn{
        font-size: .15rem;
        color: #662d30;
        position: absolute;
        white-space: nowrap;
        top: .03rem;
        @extend.flexCenter;
        letter-spacing: .02rem;
    }
    .font10px{
        font-size: .1rem;
    }
    .font-bold{
        font-weight:bold ;
        width: .27rem;
        height: .27rem;
        display: inline-block;
        text-align: center;
        top: 0;
    }
    .prize-discount-price-text{
        font-size: .12rem;
        @extend.font-bold;
        letter-spacing: 0;
    }
}
.myprize-no-prize{
    width: 100%;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
}
.prize-no-prize-img{
    width: 40%;
}
.prize-prize-img-wrap,.prize-goto-extract-wrap{
    @extend.flexCenter;
    width: 100%;
}
.prize-goto-extract-wrap{
    margin-top: .4rem;
}
.myprize-not-get-prize{
    text-align: center;
    font-size: .14rem;
    color: #333;
    margin-top: .25rem;
    width: 100%;
    font-weight: bold;
}
.prize-goto-extract-btn{
    display: inline-block;
    padding: .12rem .25rem;
    background-image: linear-gradient(to bottom,#ff7587,#e12b42);
    color: #fff;
    border-radius: 25px;
    font-size: .15rem;
}
.right-cricle{
    display: inline-block;
    width: .14rem;
    height: .14rem;
    border-radius: 50%;
    text-align: center;
    line-height: .12rem;
    color: #e12b42;
    font-size: .15rem;
    background: #fff;
}
.prize-consolation-wrap .prize-back-home{
    position: absolute;
    left: .15rem;
    top: .15rem;
//  display: inline-block;
    padding: .05rem .1rem;
    background: rgba(255,165,160,.7);
    border-radius: 25px;
    @extend.flexCenter;
    color: #33050b;
    font-size: .12rem;
}
.back-home-img{
    width: .15rem;
    position: relative;
    margin-right: .05rem; 
}

.prize-border-wrap{
    box-shadow:  0 0 .1rem .05rem #c92f43 inset,0 0 .1rem .05rem #c92f43;
    border-radius: .15rem;
    border: 1px solid #c92f43;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
//  position: relative;
//  margin-left: 50%;
//  transform: translateX(-50%);
    background: #e74b60;
//  float: left;
}
.prize-border,.prize-border li{
//  float: left;
    display: inline-block;
}
.prize-border{
    @extend.displayFlex;
//  justify-content: space-around;
//  align-items: center;
//  flex-wrap:wrap;
//  padding: .1rem .05rem;
//  @include border-box();
    width: 100%;
//  position: relative;
//  top: -.2rem!important;
    
}
.prize-border li{
    margin-top: .25rem;
    display: inline-block;
}
.prize-border-top{
    position: relative;
    height: 100%;
    float: left;
    padding-bottom: .3rem;
//  top: -.3rem;
}
.prize-border-inset{
    box-shadow:  0 0 .05rem #c92f43,0 0 .05rem #c92f43 inset;
    border-radius: .15rem;
    margin: .145rem;
    position: relative;
//  
    min-width: 2.5rem;
    min-height: 2.5rem;  
    max-width: 3.2rem;
    ////  max-width: 3.35rem; 
    display: inline-block;
//  float: left;
    background: #fff;
}
.prize-border1-list-wrap{
    position: relative;
    padding: .1rem .1rem .1rem 0;
    margin-top: 20px;
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
}
.prize-border1-list{
    display: inline-block;
    margin: 0 0 .1rem .1rem;
    width: .9rem;
    position: relative;
    
}
.prize-border-position{
    position: relative;
    left:50%;
    transform: translate(-50%);
    padding-top: 20px;
}

.prize-border1-content{
    width: .95rem;
    height: .95rem;
    display: inline-block;
    background: #de4b3d;
    position: relative;
    color: #662d30;
    font-size: .12rem;
    box-sizing: border-box;
}
.prize-discount-price-btn {
    left: 1px;
    right: auto;
    width: .27rem;
}
.prize-price{
    font-size: .12rem;
    color: #fbf0c2;
    display: block;
    text-align: center;
}
.prize-price-num{
    font-size: .25rem;
    text-align: center;
}
.prize-change-discount{
    font-size: .15rem;
    text-align: center;
    display: block;
    color: #fbf0c2;
}
.prize-less-time{
    color: #f33153;
    font-size: .12rem;
    white-space: nowrap;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}
.prize-pay-now-wrap{
    display: inline-block;
    background: #e29126;
    padding-bottom: 5px;
    height: .30rem;
    box-sizing: border-box;
    font-size: .13rem;
    color: #9d0909;
    border-radius: 25px;
    margin-top: .20rem;
    position: relative;
    left: 50%;
    transform: translate(-50%); 
}
.prize-pay-now{
    display: inline-block;
    background: #fcd381;
    height: .25rem;
    position: static;
    /*transform: none;*/
    line-height: 20px;
    padding: 4px 10px;
    box-sizing: border-box;
    white-space: nowrap;
    border-radius: 25px;
}
.prize-border1-top-wrap{
    position: absolute;
    width: 100%;
}
.prize-border1-top{
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -.25rem;
}
.prize-border1-top-content{
    position: relative;
}
.prize-border1-text{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    top: -.13rem;
    left: 0;
    z-index: 1030;
    height: 100%;
    font-size: 12px;
    color: #fbf0c2;
}
.prize-consolation-wrap{
    padding-top: .2rem;
    min-height: 100%;
    background-image:linear-gradient(to bottom,#ff7587,#e12b42) ;
    @include border-box();
}
.prize-choise-price-img{
    position: relative;
    width: 80%;
}
.prize-choise-price-wrap{
    height: 100%;
    position: relative;
//  @extend.flexCenter;
    transform: translateY(-67%);
    font-size: .12rem;
    color: #fbf0c2;
    text-shadow: 0 0 .05rem #fbf0c2;
}
.prize-choise-text{
    position: absolute;
    max-width: 50%;
    text-align: center;
}
.prize-consolation-content{
    width: .95rem;
    height: .95rem;
    background: #cf493e;
    position: relative;
//  left: 50%;
//  top: 50%;
//  transform: translateX(-50%);
//  @extend.flexCenter;
}
.prize-voucher-check-btn{
    display: inline-block;
    background: #e29126;
    padding-bottom: .05rem;
    height: .35rem;
    @include border-box();
    font-size: .13rem;
    color: #9d0909;
    border-radius: .04rem;
    @extend.positionRelativeCenter;
    transform: translate(-50%,110%);
}
.prize-voucher-check{
    @extend.prize-voucher-check-btn;
    background: #fcd381;
    height: .3rem;
    position: static;
    transform: none;
    line-height: .2rem;
    padding: .04rem .06rem;
    white-space: nowrap;
}
.icon-yellow-flag{
    width: .27rem;
    height: .27rem;
}
.icon-yellow-flag-wrap{
    position: absolute;
    left: 0;
    top: 0;
//  width: ;
}
.prize-discount-price-btn{
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    text-align: center;
    line-height: .2rem;
}
.prize-discount-price-text{
    font-size: .12rem;
    color: #662d30;
    font-weight: bold;
}
.prize-border-consolation-text{
    display: block;
    text-align: center;
}
.prize-price-code{
    font-size: .13rem;
}
.prize-consolation-content-price{
    font-size: .25rem;
    color:#fbf0c2;
    text-shadow: 0 0 .05rem #e1e1e1;
}
.prize-border-consolation-text{
    font-size: .15rem;
}
.prize-right-triangle{
    width: 0;
    height: 0;
    display: inline-block;
    border-top:4px solid #9d0909 ;
    border-bottom:4px solid transparent ;
    border-left:4px solid #9d0909 ;
    border-right:4px solid transparent ;
    transform: rotate(135deg);
}
.prize-check-border{
    border-radius: 25px;
    font-weight: bold;
}
.prize-check-border-wrap{
    transform: translate(-50%,40%);
}
.prize-less-time{
    text-align: center;
    position: relative;
    top: .1rem;
    color: #f33153;
    font-size: .12rem;
    font-weight: bold;
}
.prize-consolation-userheader{
    position: absolute;
    bottom: .32rem;
    right: .2rem;
    border-radius: 50%;
    width: .4rem;
    height: .4rem;
}
.prize-no-shop-text{
    font-size: .15rem;
    color: #ea6079;
    text-align: center;
}
.prize-no-shop-text{
    padding: 15%;
}
.prize-no-shop-img{
    margin-top: 0;
    padding-top: 18%;
    position: relative;
}
.prize-close-btn{
    position: absolute;
    top: -.12rem;
    right: -.12rem;
    width: .24rem;
    height: .24rem;
}
.prize-not-prize-img{
    height:1rem ;
}
.margin-top55px{
    margin-top: .55rem;
    margin-bottom: .3rem;
}
.price-stove-img{
    position: relative;
}
.price-stove-text{
    color: #b34b13;
    font-size: .13rem;
    display: inline-block;
    width: (140px/750px)*100% ;
    text-align: center;
    @extend.positionAbCenter;
    top: 47%;
    left: 1%;
    font-weight: bold;
}
.prize-index-wrap{
    @import "nav-three";
    @import "marquee";
    font-size: .13rem;
    .marquee-wrap{
        top: 7%;
        position: absolute;
        z-index: 1030;
        left: 0;
        padding-left: .1rem;
        height: .3rem;
        overflow: hidden; 
        @include border-box();
    }
    .marquee-item-icon img{
        width: 60%;
        border-radius: 25px;
    }
    .marquee-item{
        background: rgba(0,0,0,.7);
        color: #fff;
    }
    .prize-video{
        position: relative;
        @extend.flexCenter;
        width: 90%;
        margin-left:5% ; 
    }
    .prize-now-btn{
        display: inline-block;
        position: absolute;
        top: -.39rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: .78rem;
        height: .78rem;
        background: #f82e60;
        box-shadow: 0 0 .1rem 1px #e3ced4,0 0 .1rem 1px #e3ced4 inset;
        color: #fff;
        text-shadow: 0 0 .1rem #db1844;
        font-size: .20rem;
        border-radius: 50%;
        padding: .1rem;
        @include border-box();
        text-align: center;
    }
    .prize-video-icon{
        width: .4rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 1040;
    }
    .prize-index-video{
        width: 100%;
        height: 1.75rem;
        border-radius: .1rem;
        background: #333;
    }
    .prize-video-wrap{
        position: absolute;
        bottom: .17rem;
        width: 100%;
    }
}
.myprize-icon{
    width: .6rem;
}
.myprize-icon-wrap{
    width: .6rem;
    position: fixed;
    right: .15rem;
    bottom: 2.33rem;
    z-index: 1040;
}
.myprize-numb{
    position: absolute;
    top: -.135rem;
    right: -.135rem;
    display: inline-block;
    width: .27rem;
    height: .27rem;
    line-height: .27rem;
    text-align: center;
    color: #fff;
    font-size: .15rem;
    z-index: 1030;
    background: #ff0000;
    border-radius: 25px;
}
.prize-start-prize-wrap{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1050;
    top: 0;
    left: 0;
}
.prize-start-prize{
    width: 100%;
    height: 100%;
    position: relative;
}
.prize-start-box{
    width: 3rem;
    height: 3.78rem;
    left:50% ;
    top: 50%;
    transform: translate(-50%,-50%);
    border-top-right-radius:25px ;
    border-top-left-radius:25px ;
    position: relative;
    @extend.displayFlex;
    justify-content: center;
    flex-wrap: wrap;
}
.prize-start-top{
    width: 100%;
    height: 2rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: #e9386a;
    position: absolute;
}
.prize-start-cricle{
    display: inline-block;
    width: .125rem;
    height: .125rem;
    border-radius: 50%;
    z-index: 10;
    position: absolute;
    left: .14rem;
    right: 0;
    margin: auto;
    top: .04rem;
    background: #7f7f7f;
}
.prize-start-top-img{
    position: absolute;
    width: 120%;
    top: -.7rem;
    z-index: 1050;
}
.prize-start-prize-content{
    position: relative;
    background: #e9386a;
    width: 100%;
    top: .9rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    @include border-box();
}
.prize-start-prize-img{
    width: 1.6rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: .675rem;
}
.prize-start-prize-content p{
    color: #ffe0e9;
    font-size: .13rem;
    padding: 0 .4rem;
    line-height: .22rem;
    margin-top: .15rem;
    text-align: center;
}
.prize-start-new-btn{
    width: 1.77rem;
    
}
.prize-start-btn-wrap{
    position: relative;
    @extend.flexCenter;
    width: 100%;
    padding-top: .45rem ;
}
.prize-start-text{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    color: #9d5023;
    font-size: .16rem;
    font-weight: bold;
}
.prize-already-brought{
    background: rgba(149,149,149,.6);
    font-size: .13rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .2rem;
    text-align: center;
    color: #fff;
}
@media screen and ( max-width:340px ){
    .price-stove-text{
         width: (160px/750px)*100% ;
    }
}
.prize-border1-userheader{
    position: absolute;
    right: .15rem;
    bottom: .15rem;
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
}
.prize-border1-img-wrap{
    width: 140px;
}
