@import "base";
@mixin border-box( $border-box:"border-box" ){
    -webkit-box-sizing: $border-box;
    box-sizing: $border-box;
}
.displayFlex{
    display: flex;
    display: -webkit-flex;
}
$imgWidth : 1.3rem;
$listLeftMarginRight: .1rem;
.list-wrap{
    width: 92%; 
    color: #666666; 
    @include border-box(border-content);      
}
.list{
    @extend.displayFlex;
}
.list .list-left{
    margin-right: $listLeftMarginRight;
    margin-left: 4%;
}
.list .list-left img{
    width: $imgWidth ;
}
.list-right{
    flex: 1;
    margin-right: 4%;
}
.list-span{
    @extend.displayFlex;
    align-items : center;   
}
.list-title{
    font-size: 14px;
    color: #222;
}
