//@import "base";
.header-three-nav{
    @extend.displayFlex;
    justify-content: space-between;
    width: 100%;
    height: .44rem;
    align-items: center;
    .newk-back-home{
        width: 14px;
        margin-right: .05rem;
        position: relative;
        top: .02rem;
    }
}
.header-three-left,.header-three-center,.header-three-right{
    padding: 0 .1rem;
}
.header-three-shop-logo{
    height:60% ;
}
